.game-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-card {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    padding: 15px 40px 40px 40px;
    border-radius: 30px;
}

.game-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-left: auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 14px;
    background-color: var(--contrast);
    color: black;
    font-size: 18px;
}

.game-btn:hover {
    background-color: #CC7A00;
    cursor: pointer;
}
